<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- FCM 푸시 알림 표시용. Android 13+ 는 런타임 요청이 필요하다. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:label="warding"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- 위젯 딥링크: warding://widget/* -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="warding" android:host="widget" />
            </intent-filter>
        </activity>
        <!-- 카카오 로그인 콜백 (카카오톡 → 앱 복귀).
             SDK 2.x 부터 AuthCodeHandlerActivity 가 redirect 를 처리한다.
             SDK 가 선언한 같은 액티비티에 앱별 redirect scheme intent-filter 만 머지한다. -->
        <activity
            android:name="com.kakao.sdk.flutter.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kakao838b3def5acdd1dfbbe6b14e301ba05a" android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- 네이버 로그인 SDK 키 (strings.xml 참조) -->
        <meta-data
            android:name="com.naver.sdk.clientId"
            android:value="@string/naver_client_id" />
        <meta-data
            android:name="com.naver.sdk.clientSecret"
            android:value="@string/naver_client_secret" />
        <meta-data
            android:name="com.naver.sdk.clientName"
            android:value="@string/naver_client_name" />

        <!-- 백그라운드 FCM(notification 페이로드)이 자동 표시될 때 쓸 채널.
             미지정 시 FCM 기본 채널(중요도 낮음)로 가서 배너가 안 뜬다.
             채널 자체는 FcmService.initMessaging 이 앱 시작 시 생성한다. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="warding_high_importance" />

        <!-- 상태바 알림 아이콘. 흰색 단색 드로어블이어야 실루엣이 뭉개지지 않는다. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_warding" />

        <!-- 홈 화면 경기 일정 캘린더 위젯 -->
        <receiver
            android:name=".ScheduleWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info" />
        </receiver>

        <!-- 홈 화면 경기 일정 소 위젯 (오늘 경기만) -->
        <receiver
            android:name=".ScheduleWidgetSmallProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_small_info" />
        </receiver>

        <!-- 홈 화면 경기 일정 대형 위젯 (풀 캘린더) -->
        <receiver
            android:name=".ScheduleWidgetLargeProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_large_info" />
        </receiver>

        <service
            android:name=".ScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <service
            android:name=".ScheduleWidgetLargeService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <!-- home_widget 패키지: 위젯 버튼 탭을 앱 UI 없이 백그라운드 Dart 콜백으로 처리한다.
             패키지 자체 매니페스트에는 선언되어 있지 않아 앱에서 직접 등록해야 한다. -->
        <receiver
            android:name="es.antonborri.home_widget.HomeWidgetBackgroundReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="es.antonborri.home_widget.action.BACKGROUND" />
            </intent-filter>
        </receiver>
        <service
            android:name="es.antonborri.home_widget.HomeWidgetBackgroundService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <!-- 네이버 로그인 SDK가 네이버앱으로 OAuth 핸드오프 시도(Android 11+ 패키지 가시성).
             미선언 시 SDK가 대상을 못 봐 no_catagorized_error 발생. iOS는 Info.plist
             LSApplicationQueriesSchemes(naversearchapp)로 이미 선언돼 있어 정상 동작. -->
        <package android:name="com.nhn.android.search"/>
        <!-- 커스텀탭 폴백용 브라우저 감지. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
